/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/viikko1/NhlStatistics1/.nb-gradle/
/viikko3/WebLogin/salasanat.txt
/viikko3/LoginCucumber/salasanat.txt

/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/build/